body {
    background-color: #dfc9a7;
    overflow: auto;
}
.error {
    color: red;
}

.navbar {
    background-color: #62313c !important;
}
.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f0e2d8;
    color: black;
}
.card a  {
    color: #240c0c;
}
.card-header {
    background-color: #e5d7d3;
    border-bottom: 1px solid #dee2e6;
    font-weight: bold;
    color: #6d1818;
    }
.list-group-item {
    background-color: #fff3f3;
    border: 1px solid rgba(234, 186, 186, 0.56);
}
.badge-primary {
    color: #b3ccf5;
    background-color: #06158e;
}
#search {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}
button {
    color: white;
    background-color: #146db3;
    border: 1px #618db3 solid;
    text-shadow: 1px 1px #5c8ca1;
    margin: 1px;
    border-radius: 5px;
}
.relation-button {
    width: 23px;
    border: 1px solid #cbb;
    padding: 0px;
    display: inline-block;
    height: 30px;
}

.relationship-table form {
    display: inline-block;
}


/*tags*/
.tag-input-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px;
    width: 300px;
    margin-bottom: 10px;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #cb888c;
    color: white;
    border-radius: 3px;
    padding: 3px 8px;
    margin: 2px;
}

.tag span {
    margin-right: 5px;
}

.tag .close-btn {
    cursor: pointer;
    font-size: 12px;
}

.tag-input {
    flex: 1;
    border: none;
    outline: none;
    min-width: 50px;
}
.node circle {
    fill: #eaf5c5;
    stroke: #b02f3b;
    stroke-width: 2px;
}

.node text {
    font: 12px sans-serif;
    color: red;
}

.link {
    fill: #ffc;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}
#body {
    max-width: 100%;
}
.tag-input-container { 
    max-width: 100%;
}
.tree-list {
    font-size: 1.5em;
    text-align: center;
}
